<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <main>
      <p><%- content %></p>
      <form action="/hello/post" method="post">
          <p><input type="text" name="message"><input type="submit" value="送信"></p>
      </form>
    </main>
  </body>
</html>
