body {
  margin: 5px;
  color: #999;
  font-size: 12px;
}

h1 {
  margin: -50px 0 -140px 0;
  color: #f0f0f0;
  font-size: 170px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -10px;
}

p {
  margin: 0 20px;
  font-size: 16px;
  line-height: 2;
}

table {
  margin: 20px;
}

table tr th {
  padding: 3px 10px;
  color: #fff;
  text-align: center;
  background-color: #999;
}

table tr td {
  padding: 3px 10px;
  color: #666;
  text-align: left;
  background-color: #eee;
}