body {
  margin: 5px;
  color: #999;
  font-size: 12px;
}

h1 {
  margin: -50px 0 -140px 0;
  color: #f0f0f0;
  font-size: 170px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -10px;
}

p {
  margin: 0 20px;
  font-size: 16px;
  line-height: 2;
}